@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Cabin', sans-serif;
}

header {
    height: 120px;
    section:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        * {
            cursor: pointer;
        }
        a {
            .pageLogo {
                display: flex;
                gap: 5px;
                border: none;
                div {
                    display: flex;
                    gap: 3px;
                    span {
                        background-color: black;
                    }
                    &:first-child {
                        flex-direction: row;
                        span {
                            width: 5px;
                            height: 30px;
                        }
                    }
                    &:last-child {
                        flex-direction: column;
                        span {
                            width: 30px;
                            height: 5px;
                        }
                    }
                }
            }
        }
        section {
            display: flex;
            label {
                font-family: 'Cabin', sans-serif;
                font-size: 1.1em;
            }
            input{
                appearance: none;
            }
        }
    }
    section:last-child {
        ul {
            display: flex;
            list-style-type: none;
            padding: 10px;
            li {
                margin-left: 20px;
                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    &.current-page-link {
                        color: #ff764d;
                    }
                }
            }
        }
    }
}

iframe {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        section {
            width: 85%;
            &:first-child {
                position: relative;
                img {
                    width: 100%;
                }
                .abletonTitle {
                    position: absolute;
                    z-index: 999;
                    color: #ff6c3f;
                    font-weight: bold;
                    font-size: 2.5em;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:last-child {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 40px 0px;
                p {
                    a {
                        text-decoration: none;
                        color: blue;
                    }
                    font-weight: 500;
                    small {
                        font-weight: lighter;
                    }
                }
            }
        }
        &.secondArticle {
            section {
                &:first-child {
                    display: flex;
                    position: relative;
                    justify-content: space-around;
                    img {
                        width: 30%;
                        &:first-child {
                            width: 40%;
                        }
                    }
                    .orangeBackground {
                        position: absolute;
                        right: 0;
                        top: -15%;
                        z-index: -1;
                        width: 60%;
                        height: 130%;
                        background-color: rgba(255, 226, 83, 0.608);
                    }
                }
            }
        }
    }
}

footer {
    display: none;
}