@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 120px;
    section:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        a {
            .pageLogo {
                display: flex;
                gap: 5px;
                border: none;
                div {
                    display: flex;
                    gap: 3px;
                    span {
                        background-color: black;
                    }
                    &:first-child {
                        flex-direction: row;
                        span {
                            width: 5px;
                            height: 30px;
                        }
                    }
                    &:last-child {
                        flex-direction: column;
                        span {
                            width: 30px;
                            height: 5px;
                        }
                    }
                }
            }
        }
        section {
            display: flex;
            label {
                font-family: 'Cabin', sans-serif;
                font-size: 1.1em;
            }
            input{
                appearance: none;
            }
        }
    }
    section:last-child {
        ul {
            display: flex;
            list-style-type: none;
            padding: 10px;
            li {
                margin-left: 20px;
                a {
                    text-decoration: none;
                    color: black;
                    &.current-page-link {
                        color: #ff764d;
                    }
                }
            }
        }
    }
}