@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Cabin', sans-serif;
}

header {
    height: 120px;
    section:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        * {
            cursor: pointer;
        }
        a {
            .pageLogo {
                display: flex;
                gap: 5px;
                border: none;
                div {
                    display: flex;
                    gap: 3px;
                    span {
                        background-color: black;
                    }
                    &:first-child {
                        flex-direction: row;
                        span {
                            width: 5px;
                            height: 30px;
                        }
                    }
                    &:last-child {
                        flex-direction: column;
                        span {
                            width: 33px;
                            height: 5px;
                        }
                    }
                }
            }
        }
        section {
            display: flex;
            label {
                font-family: 'Cabin', sans-serif;
                font-size: 1.1rem;
            }
            input{
                appearance: none;
            }
        }
    }
    section:last-child {
        ul {
            display: flex;
            list-style-type: none;
            padding: 10px;
            li {
                margin-left: 20px;
                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    &.current-page-link {
                        color: #ff764d;
                    }
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        section {
            width: 85%;
            &:first-child {
                position: relative;
                img {
                    width: 100%;
                }
                .abletonTitle {
                    position: absolute;
                    z-index: 999;
                    color: #ff6c3f;
                    font-weight: bold;
                    font-size: 2.5rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:last-child {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 40px 0px;
                p {
                    a {
                        text-decoration: none;
                        color: blue;
                    }
                    font-weight: 500;
                    small {
                        font-weight: lighter;
                    }
                }
            }
        }
        &.secondArticle {
            section {
                &:first-child {
                    display: flex;
                    position: relative;
                    justify-content: space-around;
                    img {
                        width: 30%;
                        &:first-child {
                            width: 40%;
                        }
                    }
                    .orangeBackground {
                        position: absolute;
                        right: 0;
                        top: -15%;
                        z-index: -1;
                        width: 60%;
                        height: 130%;
                        background-color: rgba(255, 226, 83, 0.608);
                    }
                }
            }
        }
        &.thirdArticle {
            section:first-child {
                .iframeSection {
                    padding-bottom: 59%;
                    width: 100%;
                    position: relative;
                    iframe {
                        top: 5%;
                        left: 5%;
                        position: absolute;
                        width: 90%;
                        height: 90%;
                    }
                }
                figcaption {
                    margin-top: 10px;
                }
            }
        }
        &.fourthArticle {
            section:first-child {
                display: flex;
                section:first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 30px;
                    width: 90%;
                    img {
                        width: 70%;
                    }
                }
                section.rightImageSection {
                    height: max-content;
                    margin: auto 0px;
                    & > img {
                        width: 100%;
                    }
                }
                .blueBackground {
                    width: 70%;
                    height: 120%;
                    left: -10%;
                    position: absolute;
                    transform: translateY(-7.25%);
                    z-index: -1;
                    background-color: rgba(0, 255, 187, 0.233);
                }
            }
        }
        &.sixthArticle {
            section:first-child {
                display: flex;
                position: relative;
                justify-content: space-between;
                height: max-content;
                div {
                    width: 40%;
                }
                div:first-child {
                    img {
                        transform: translateY(25%);
                    }
                }
                div.secondDiv {
                    img {
                        transform: translateX(15%);
                    }
                }
                div.purpleBackground {
                    z-index: -1;
                    width: 60%;
                    top: -20%;
                    left: 20%;
                    height: 140%;
                    position: absolute;
                    background-color: rgba(144, 9, 144, 0.386);
                }
            }
        }
        &.seventhArticle {
            & > section {
                background-color: rgba(53, 194, 255, 0.384);
                section:first-child {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                section:last-child {
                    width: 100%;
                    p {
                        margin-left: 10%;
                        width: 80%;
                    }
                    p:last-child {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

footer {
    padding: 7.5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    form {
        margin: 10% 0 5% 0;
        label {
            p:first-child {
                font-weight: 500;
            }
        }
        section {
            display: flex;
            padding: 20px 0px 10px 0px;
            input {
                padding: 5px;
                border: 1px solid white;
            }
            input[type=email] {
                padding-left: 10px;
                width: 80%;
                &:focus {
                    border: 1px solid black;
                }
            }
            input[type=submit] {
                width: 80px;
                border: 1px solid blue;
                background-color: blue;
                color: white;
            }
        }
    }
    div {
        h2 {
            font-size: 1rem;
            font-weight: 500;
        }
        ul {
            margin-top: 5px;
            list-style-type: none;
            li {
                a {
                    text-decoration: none;
                    color: black;
                    font-size: .9rem;
                    &::after {
                        content: "";
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'12\' height=\'12\' viewBox=\'0 0 24 20\' style=\'fill: black;\'><path d=\'M10.061 19.061 17.121 12l-7.06-7.061-2.122 2.122L12.879 12l-4.94 4.939z\'></path></svg>');
                        width: 12px;
                        height: 12px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    section.socialMediaSection {
        display: flex;
        width: max-content;
        gap: 5px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    div.language-and-location {
        select {
            padding: 5px;
            margin-top: 10px;
            border: 1px solid white;
            option {
                font-weight: 500;
            }
            &:focus {
                border: 1px solid black;
            }
        }
    }
    div.lastLinkDiv {
        a::after {
            display: none;
        }
    }
    section:last-child {
        display: flex;
        align-items: center;
        gap: 10px;
        section.logoSection {
            display: flex;
            gap: 5px;
            div {
                display: flex;
                gap: 3px;
                span {
                    background-color: black;
                }
                &:first-child {
                    
                    span {
                        width: 5px;
                        height: 30px;
                    }
                }
                &:last-child {
                    flex-direction: column;
                    span {
                        width: 35px;
                        height: 5px;
                    }
                }
            }
        }
    }
}